:root {
 --primary: #187618;
 --text: #352624;
 --background: #e9f4e9;
 --background-secondary: #d6e1d6;
}

.body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: var(--background);
    /* background-color: #fff; */
}
header {
    flex: 0 60px;
}
main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}
menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}
.text-primary {
    /* color: #fff !important; */
    /* color: #777 !important; */
    /* color: #187618 !important; */
    color: var(--text) !important;
}
.bg-primary {
    background-color: var(--primary) !important;
}
.bg-secondary {
    background-color: var(--background) !important;
    /* background-color: #fff !important; */
}
.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid #fff thin;
}
.nav-link {
    white-space: nowrap;
}
footer {
    flex: 0 30px;
    margin-top: 20px;
}
footer a {
    float: right;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* @media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
} */
