footer {
    flex-shrink: 0;
    flex: 0 30px;
}
main {
    flex-grow: 1;
    justify-content: flex-start;
}
.text-right {
    text-align: right;
    padding: 5px;
}
h2 {
    padding: 10px;
}
td {
    max-width: 40vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.table-wrapper {
    overflow: auto;
}
.login-username {
    color: var(--primary);
    font-weight: bold;
}